<style>
.helper ol, .helper ol li{
	list-style: decimal;
}
</style>
<ul class="helper">
	<li>
		<p style="border:solid 1px #DDDDDD;color:#E84E40;padding:7px;margin:5px 0px 10px">DB의 외부유출이나 외부유출을 시도하는 경우 <b>인사상 불이익</b>을 당할 수 있으니 DB관리에 각별한 주의 부탁 드립니다.<p>
	</li>
	<li>
		<p>
			<span class="ui-icon ui-icon-info large" style="float: left; margin-right: .3em;"></span> <span class="helper-title">중요 지시사항</span>
		</p>
		<ol class="helper-msg" style="list-style:decimal">
			<li><!-- 1 -->법적인 책임 불가피 : 개인적으로 외부실장 또는 환자알선브로커 등을 고용하여 환자유치하는 일이 없도록 협조해주시기 바랍니다. 환자소개 대가로 인해 금품을 제공하는 것은 중대한 의료법 위반으로 민/형사상 책임을 져야 합니다. </li>
			<li><!-- 2 -->병원계좌이용:예치금을 포함한 수술비는 반드시 병원계좌로 입금받으시기 바랍니다. 고객님의 사정으로 불가피하게 병원입금계좌 사용불가시에는 반드시 지용훈 원장님께 보고 후 진행해주시기 바랍니다.</li>
		</ol>
	</li>

	<li>
		<p>
			<span class="ui-icon ui-icon-info large" style="float: left; margin-right: .3em;"></span> <span class="helper-title">팀 DB 규칙</span>
		</p>
		<ol class="helper-msg" style="list-style:decimal">
			<li><!-- 1 -->DB는 내규에 의해 정해진 순서대로 각 팀에 분배 됩니다.(지인소개(실장/고객), 중복DB 등은 순서에 상관없이 해당 팀에 직접 분배)</li>
			<li><!-- 2 -->담당자 징계/퇴사 등의 사유 발생시에는 내규에 따라 DB 소유권을 분배합니다.</li>
			<li><!-- 3 -->유입경로가 ‘지인소개(실장/고객), 기존고객’인 경우, 해당 DB를 기한 없이 보유하게 됩니다.</li>
			<li><!-- 4 -->유입경로가 ‘지인소개(실장/고객), 기존고객’이 아닌 DB는 6개월 이내에 상태를 ‘예치금/수술예정/수술완료’로 변경하지 않으면 공동DB로 이관됩니다.</li>
			<li><!-- 5 -->실시간상담으로 ‘내원예약’을 잡은 경우에는 기존 DB소유권과 상관없이 DB를 보유하게 됩니다.</li>
			<li><!-- 6 -->신규로 유입된 DB는 기존 DB 소유여부와 상관없이 신규로 처리하여 정해진 순서대로 각 팀에 분배합니다.(전화번호가 상이한 동일고객도 포함)</li>
			<li><!-- 7 -->DB 상태가 ‘예치금/수술예정/수술완료’인 경우, 해당 DB를 기한 없이 보유하게 됩니다.</li>
			<li><!-- 8 -->팀DB/공동DB에서 매월 100개 이내로 DB를 지정하여 1년간 보유할 수 있습니다. 단, 1년 이내에 상태를 ‘예치금/수술예정/수술완료’로 변경하지 않으면 공동DB로 이관됩니다.(접수일자 기준으로 매월 100개 이내 지정)</li>
			<li><!-- 9 -->팀DB의 유효기간이 종료되어 공동DB로 이관되는 경우, 해당 DB를 보유했던 팀은 7일간 해당DB를 컨택할 수 없습니다.</li>
			<li><!-- 10 -->팀으로 분배된 DB중에서 없는 번호 또는 중복DB로 확인되는 경우에 한하여 내부 보고 후 보상여부가 결정됩니다.</li>
		</ol>
	</li>
	<li class="block">
		<p>
			<span class="ui-icon ui-icon-info large" style="float: left; margin-right: .3em;"></span> <span class="helper-title">공동 DB 규칙</span>
		</p>
		<ol class="helper-msg">
			<li>상담실장 전원은 공동DB 상담내역을 열람할 수 있습니다.</li>
			<li>공동DB는 한 사람이 하나의 DB만 접근 가능합니다. (DB 종료 버튼 클릭할 때까지 다른 DB 접근 불가)</li>
			<li>공동DB 이용시 해당 DB는 30분간 타인이 접근할 수 없습니다.</li>
			<!-- <li>공동DB 이용시 상태를 변경하여 팀DB로 이관되는 경우에는 상태별 팀DB 규칙을 따릅니다.</li> -->
			<li>팀DB의 유효기간이 종료되어 공동DB로 이관되는 경우, DB를 보유했던 팀은 7일간 해당 DB를 컨택할 수 없습니다.</li>
		</ol>
		<p>
			<span class="ui-icon ui-icon-info large" style="float: left; margin-right: .3em;"></span> <span class="helper-title">DB 상태별 색상</span>
		</p>
		<ol class="helper-msg">
			<li>신규(베이지색)</li>
			<li>부재중1~부재중3(연한빨강)</li>
		</ol>
	</li>
	<li class="block">
		<p>
			<span class="ui-icon ui-icon-info large" style="float: left; margin-right: .3em;"></span> <span class="helper-title">주의사항</span>
		</p>
		<ol class="helper-msg">
			<li class="emphasis">고객정보 등을 허위 입력하는 경우에는 1주일간 해당 팀의 신규 DB 분배가 금지되고 해당자는 급여 삭감 등의 불이익을 받습니다.</li>
			<li class="emphasis">본인 외 타인의 계정으로 시스템에 로그인하는 경우에는 1주일간 신규 DB 분배가 금지되는 등의 불이익을 받습니다.</li>
			<li class="emphasis">신규 DB로 분배하였으나 고객 상담결과 중복 DB로 판단되는 경우에는 기존 담당팀이 소유권을 가지게 됩니다.(예 : 기존고객의 지인(가족)소개, 전화번호 변경, 카카오톡 등)</li>
			<li class="emphasis">DB 중복 컨텍으로 상담실장간 분쟁 발생시 해당 팀장간 협의가 되는 경우에는 발생되는 매출의 기여도를 각각 5:5로 인정합니다.</li>
			<li class="emphasis">DB 중복 컨택으로 상담실장간 분쟁 발생시 해당 팀장간 협의가 되지 않을 경우에는 해당자의 당월 인센티브 지급이 중지되며 1주일간 신규 DB 분배가 금지되는 등의 불이익을 받습니다.
			(팀장간 협의가 되지 않는 경우 1.예치금 2.내원예약 순서로 상태 변경을 한 팀에서 DB를 보유하게 됩니다.)</li>
			<li class="emphasis">각 팀원의 시스템 교육 및 시스템 사용 미숙으로 인한 업무미흡에 대한 책임은 해당 팀장님에게 있습니다.</li>
			<li class="emphasis">시스템의 모든 이용기록은 서버에 보관되며 해당 시스템을 올바르게 사용하지 않을 경우에는 적발시에 업무상/인사상 불이익을 받을 수 있으니 이용에 주의하시기 바랍니다.</li>
			<li class="emphasis">DB상태 및 매출액 등 인센티브 관련 정보 미입력시 인센티브 및 급여에서 불이익을 받을 수 있습니다.</li>
		</ol>
	</li>
</ul>
