<!DOCTYPE html>
<html>
<head>
<title>SMS 발송</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/sms.css" rel="stylesheet" type="text/css">

<script src="/js/jquery.js"></script>
<script src="/js/common.js"></script>


<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/lib/js/bootstrap-datepicker/bootstrap-datepicker.js" charset="utf-8"></script>
<script type="text/javascript" src="/lib/js//bootstrap-datepicker/bootstrap-datepicker.kr.js" charset="utf-8"></script>
<link type="text/css" rel="stylesheet" href="/lib/js//bootstrap-datepicker/datepicker.css">
<script src="/lib/js/zebra_datepicker/default.js" type="text/javascript" charset="UTF-8"></script>
<link rel="stylesheet" href="/lib/js/zebra_datepicker/default.css">

<style>
.container {
	width: 900px;
	max-width: none !important;
}

.Zebra_DatePicker {
	z-index: 100000
}
</style>

</head>

<body>
	<div class="container" style="vertical-align: top; margin: auto; padding-top: 10px;">{yield}</div>
</body>
</html>
