<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">

<link href="{layout.path.assets}/css/bootstrap.custom.css" rel="stylesheet" />


<script src="{layout.path.assets}/js/jquery.min.js"></script>
<script src="{layout.path.assets}/js/bootstrap.min.js"></script>
<script src="{layout.path.assets}/js/bootstrap.datepicker.js"></script>
<script src="{layout.path.assets}/js/jquery.validationEngine-kr.js"></script>
<script src="{layout.path.assets}/js/jquery.validationEngine.js"></script>
<!-- <script src="/assets/js/jquery.scrollLock.js"></script> -->
<script src="{layout.path.assets}/js/jquery.cookie.js"></script>
<script src="{layout.path.assets}/js/m.js"></script>
<!-- <script defer src="/assets/js/jquery.flexslider-min.js"></script> -->

<link rel="stylesheet" type="text/css" href="{layout.path.assets}/css/jquery.validationEngine.css"/>
<link rel="stylesheet" type="text/css" href="{layout.path.assets}/css/bootstrap.custom.css"/>
<link rel="stylesheet" type="text/css" href="{layout.path.assets}/css/font-awesome.min.css"/>
<link rel="stylesheet" type="text/css" href="{layout.path.assets}/css/m.css"/>


